@model eStore.Models.TokenOrderViewModel
@using eStore.Models
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string userId = "";
    string user = "";
    if (Request.IsAuthenticated && !User.IsInRole(RoleName.MaintenanceManager))
    {
        userId = User.Identity.GetUserId();
        user = User.Identity.GetUserName();
    }
}

<h2>Order</h2>

@if (Request.IsAuthenticated && !User.IsInRole(RoleName.MaintenanceManager))
{
    <div>
        <div id="@userId tokens" style="float: left;">@ViewBag.NumOfTokens</div>&nbsp;&nbsp;
        <img src="~/images/token.png" />
    </div>

}
<br /><br />

@using (Html.BeginForm("Create", "TokenOrders", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h4>Make new order</h4>
        <div class="row">
            <div class="col-sm-4" align="center">
                <div class="card" style="width:200px; border: 1px solid #df691a; margin: 10px; margin-left: 0px; padding: 10px;" align="center">
                    <img class="card-img-top" src="~/images/silver.png" alt="Silver package">
                    <div class="card-body">
                        <h4 class="card-title">Silver package</h4>
                        <p class="card-text">Count: @ViewBag.SilverCount</p>
                        <p class="card-text">Price: @ViewBag.SilverPrice @ViewBag.CurrentCurrency</p>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-8">
                                @Html.EditorFor(model => model.SilverCount, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.SilverCount, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4" align="center">
                <div class="card" style="width:200px; border: 1px solid #df691a; margin: 10px; margin-left: 0px; padding: 10px;" align="center">
                    <img class="card-img-top" src="~/images/gold.png" alt="Gold package">
                    <div class="card-body">
                        <h4 class="card-title">Gold package</h4>
                        <p class="card-text">Count: @ViewBag.GoldCount</p>
                        <p class="card-text">Price: @ViewBag.GoldPrice @ViewBag.CurrentCurrency</p>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-8">
                                @Html.EditorFor(model => model.GoldCount, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.GoldCount, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4" align="center">
                <div class="card" style="width:200px; border: 1px solid #df691a; margin: 10px; margin-left: 0px; padding: 10px;" align="center">
                    <img class="card-img-top" src="~/images/platinum.png" alt="Platinum package">
                    <div class="card-body">
                        <h4 class="card-title">Platinum package</h4>
                        <p class="card-text">Count: @ViewBag.PlatinumCount</p>
                        <p class="card-text">Price: @ViewBag.PlatinumPrice @ViewBag.CurrentCurrency</p>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-8">
                                @Html.EditorFor(model => model.PlatinumCount, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.PlatinumCount, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-offset-5 col-sm-2" align="center">
                    <input type="submit" value="" class="btn" style="margin-top: 40px; background:url(https://www.centili.com/images/centili-widget-button.png) no-repeat; width:147px; ">
                </div>
            </div>
        </div>

    </div>
}

@section scripts {
    <script src="~/Scripts/jquery.signalR-2.3.0.min.js"></script>
    <script src="~/signalr/js"></script>

    <script>
        var myHub = $.connection.hub.start();

        $.connection.hub.disconnected(function () {

            setTimeout(function () {
                myHub = $.connection.hub.start();
                console.log("disconnected");
            }, 5000);
        });

        $.connection.myHub.client.updateNumOfTokens = function (userId, numOfTokens) {
            var tokens = document.getElementById(userId + " tokens");
            if (tokens != null) {
                numOfTokens = parseFloat(tokens.innerHTML) + numOfTokens;
                tokens.innerHTML = numOfTokens.toFixed(2);
            }
        }
    </script>
}